@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0.0625rem solid red;
}

/* .splide__pagination--ltr {
  transform: translateY(-2000%);
} */

html {
  font-family: "var(--font-pt_serif)", serif;
}

.heading-2 {
  font-family: "var(--font-pt_serif)", serif;
  font-size: clamp(2.5rem, 2rem + 2.5vw, 6rem);
  line-height: 1.1;
  margin-bottom: 1.1rem;
}

button {
  font-family: "var(--font-lato)", sans-serif;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.08125rem;
  line-height: normal;
  cursor: pointer;
  height: 3.75rem;
}
