@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  font-family: "var(--font-lato)", sans-serif;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.08125rem;
  line-height: normal;
  cursor: pointer;
  height: 3.75rem;
}
