@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0.0625rem solid red;
}

/* .splide__pagination--ltr {
  transform: translateY(-2000%);
} */

.splide__pagination__page {
  background-color: #c4c4c4 !important;
  opacity: 1 !important;
}

.splide__pagination__page.is-active {
  background-color: #000000 !important;
  transform: none !important;
}

html {
  font-family: "var(--font-pt_serif)", serif;
}

.heading-2 {
  font-family: "var(--font-pt_serif)", serif;
  font-size: clamp(2.5rem, 2rem + 2.5vw, 6rem);
  line-height: 1.1;
  margin-bottom: 1.1rem;
}

.text-antonio {
  font-size: clamp(2.75rem, 1.1071rem + 8.2143vw, 14.25rem);
}

button {
  font-family: "var(--font-lato)", sans-serif;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.08125rem;
  line-height: normal;
  cursor: pointer;
  height: 3.75rem;
}
