.storybook-button {
  font-family: var(--font-lato), Arial, sans-serif;
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: #ffffff;
  background-color: #000000;
  padding: 1.4375rem 0rem 1.3125rem 0rem;
}
.storybook-button--secondary {
  color: #000;
  border: 0.0625rem solid #000000;
  padding: 1.5625rem 2.1875rem;
}
.storybook-button--small {
  width: 15rem;
}
.storybook-button--medium {
  width: 20rem;
}
.storybook-button--large {
  width: 25rem;
}
